<div class="container text-center mt-3">
  <h1>Rate My Cakes</h1>
  <div class="row">
    <div class="col-4">
      <h3>Add New Cake</h3>
      <form (submit)="createCakeFromService()">
        <div class="form-group">
          <label>Cake Baker</label>
          <input type="text" class="form-control" placeholder="Enter baker name" name="newcake.baker"
            [(ngModel)]="newcake.baker">
        </div>
        <div class="form-group">
          <label>Image URL</label>
          <input type="text" class="form-control" placeholder="Enter image URL" name="newcake.photo"
            [(ngModel)]="newcake.photo">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      </form>
    </div>
    <div class="col-8">
      <h3>Rate them here</h3>
      <div class="holding things" style="height:400px;overflow-y:auto">
      <div *ngFor="let cake of cakes" class="mt-1">
        <img [src]="cake.photo" style="display:inline-block;" class="col-6" name="{{cake._id}}" (click)="showClick($event)">
        <form (submit)="editCakeFromService($event)" style="display:inline-block" class="col-6" name="{{cake._id}}">
          <div class="form-group">
            <label>Rating</label>
            <select class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="form-group">
            <label>Comment</label>
            <textarea class="form-control">Your comment here</textarea>
          </div>
          <button type="submit" class="btn btn-secondary btn-sm">Rate!</button>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>
<app-task [showOneCake]='onecake'></app-task>